<!DOCTYPE html>
<html>
<head>
<%include ./common/head.ejs%>
<style>
	.contact-list{margin-top: 50px;}
	.contact-list li{margin-top: 15px;}
</style>
</head>
<body>
	<%include ./common/top.ejs%>
	<div class="container">
		<ol class="contact-list">
			<li>qq:<span class="color-orange">2840579961</span></li>
			<li>email:<span class="color-orange">2840579961@qq.com</span></li>
			<li>phone:<span class="color-orange">13611474258</span></li>
		</ol>
	</div>
</body>
<%include ./common/script.ejs%>
</html>
